h1 {
    color: white;
    text-align: center;
    

}

img {
    display: block;
    width: 135;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  body{ background-color: black;
    color: white;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }


  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  footer {
    text-align: center;
    font-size: small;
    padding: 3px;
    background-color: rgba(205, 207, 216, 0.76);
    color:black;
  }